<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conecta" connectionString="Data Source=192.168.3.6;Initial Catalog=kpsa_ope;User ID=sa_programas;Password=Uni2x$yen;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
